<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sections</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/index">Programming</a></li>
                        <li><a href="/interview">Interview Experiences&nbsp;</a></li>
                        <li><a href="/robotics">Others</a></li>
                    </ul>
                </div>
                <div class="col item social">
                    <h3>Coding Club IIT Guwahati</h3>
                    <a href="https://www.facebook.com/codingclubiitg/"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href=""><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Copyrights © 2021&nbsp; Coding Club, IIT Guwahati.<br></p>
        </div>
    </footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/js/smoothproducts.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>