<%- include('partials/boot-header') %>

    <div>
        <!DOCTYPE html>
        <html>
        
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>robo-video</title>
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/Features-Blue.css">
            <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
            <link rel="stylesheet" href="assets/css/styles.css">
        </head>
        
        <body>
            <div class="features-blue">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">YUVAAN</h2>
                        <p class="text-center">The Mars Rover by Robotics Club IIT Guwahati</p>
                    </div>
                    <div class="youtube-container">
                        <iframe  src="https://www.youtube.com/embed/v-1l3Zg49F0?autoplay=1&amp;mute=1"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
        
                
        
        
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        </body>
        
        </html>
    </div>

<%- include('partials/boot-footer') %>